server {
    listen 80;

    server_name ${BACK_PRE_URL};
    location / {
        proxy_pass http://back-pre:8080;
        proxy_buffering off;
        proxy_set_header X-Real-IP $remote_addr;
    }
}

server {
    listen 80;

    server_name ${FRONT_PRE_URL};
    location / {
        proxy_pass http://front-pre;
        proxy_buffering off;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
